<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zaboravljena lozinka</title>
</head>
<body>
    <h1>Nova lozinka</h1>
    <h4>{{newPassword}}</h4>
    <h5>Ako vi niste zatražili novu lozinku, javite se na korisničku podršku.</h5>
    <h5>Nakon što se ulogirati, molimo vas da odmah promjenite lozinku.</h5>
</body>
</html>